<launch>
  <include file="$(find kairobot)/launch/bringup.launch" />
  <include file="$(find kairobot)/launch/lidar/$(env KAILIDAR).launch" />
  <include file="$(find kairobot)/param/navigation/slam_gmapping.xml" />
  <include file="$(find kairobot)/param/navigation/move_base.xml" />
  <include file="$(find frontier_exploration)/launch/global_map.launch" />
</launch>
